body{
  text-align: center;
}

p{
  padding: 20px 0;
}
a{
  color: black;
}
.big-heading{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
/* Containers */
.container-fluid{
  padding: 3% 10%;
}
.row{
  margin: 0;
}
/* Style adjustments */
.white-box{
  background-color: white;
  padding: 35px 20px;
  border-radius: 25px;
}
.grey-box{
  background-color: #DBDFE2;
  padding: 35px 20px;
  border: 0.1rem solid #fa7d09;;
  border-radius: 25px;
}
.grey-box h3, .white-box h3{
  padding-bottom: 30px;

}
.padding-adjustment{
  padding-top: 60px;
  padding-bottom: 60px;
}


/* Nav Bar */
.navbar {
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 25px;
  background-color: #eeeeee;
  /* #eeeeee; */
}
.logo{
  max-width: 300px;
}

.nav-item{
  padding: 0 18px;
}
.nav-link {

}


/* Header */
#title{

}
#landing-page{
  background-image: url("../images/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  position: relative;
  height: 100%;
  width: 100%;

}
.title-row{
  padding: 6.25% 0;
}
.title-col{
  padding: 6.25%;
}
#title h4{
  padding-bottom: 20px;
}
.expertise-col{
  text-align: center;
}
.expertise-btn{
  margin: 7px 5px;

}
/* .expertise-btn {
	background-color:transparent;
	border-radius:10px;
	border:0.1rem solid #fa7d09;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	padding:10px 36px;
	text-decoration:none;
    margin: 7px 5px;
} */
.expertise-btn:hover{
  background-color:  black;
  color: #fa7d09;
}


/* Work */
.stripe-background{
  background-image: url("../images/Lines-6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  position: relative;
  height: 100%;
  width: 100%;
}

.work-history{
  padding: 0 40px;
}


/* Contact Details */
.contact-item{
  padding: 10px;
}
.contact-icons{
  margin-right: 10px;
}

/* Footer */
#footer div,p{
  padding: 0;
}
.footer-icons{
  color:  #fa7d09;
}

@media (max-width:500px) {
  #landing-page{
    background-size: auto;
  }
  .logo{
    max-width: 200px;
  }
  .padding-adjustment{
    padding: 30px 10px;
  }
  .white-box{
    border-radius: 10;
    padding: 10px 0 15px;
  }
  .grey-box{
    border-radius: 20;
    padding: 10px 0 15px;
  }
  .grey-box h3, .white-box h3{
    padding: 10px 30px 15px;
  }
  .col-lg-6 img{
    margin-bottom: 20px;
  }

}
